#contact {
  padding: 100px 0;
}

.contact-text {
  text-align: center;
  color: #94a3b8;
  margin-bottom: 40px;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  );
  gap: 20px;
}

.contact-card {
  background: #1e293b;
  border-radius: 16px;
  padding: 30px;

  text-decoration: none;
  color: white;
  text-align: center;

  transition: 0.3s;
}

.contact-card:hover {
  transform: translateY(-8px);
  color: #38bdf8;
}

.contact-card i {
  font-size: 2rem;
  margin-bottom: 15px;
}