#projects {
  padding: 100px 0;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(320px, 1fr)
  );
  gap: 25px;
}

.project-card {
  background: #1e293b;
  border-radius: 16px;
  padding: 25px;

  transition: all 0.3s ease;
}

.project-card:hover {
  transform: translateY(-8px);
}

.featured {
  border: 2px solid #38bdf8;
}

.category {
  color: #38bdf8;
  font-size: 0.85rem;
}

.project-card h3 {
  margin: 15px 0;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  margin: 20px 0;
}

.tech-badge {
  background: rgba(56, 189, 248, 0.15);

  color: #38bdf8;

  padding: 6px 10px;

  border-radius: 50px;

  font-size: 0.8rem;
}